<div
  class="container">

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <div id ="ffs">
          <img src = "../../assets/Artboard.jpg " >

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let info of flatInfo">
            <mat-card >        
              <img mat-card-image src = "{{info.pictureHREF}}">
              <mat-card-content>
                <span class = "classPrice"> ${{info.rentPerWeek}}</span> per week<br>
                <span class = "location"> {{info.district}}</span>
                <span class = "beds"> {{info.numberOfBeds}}<img src = "../../assets/Flat hub - ICONS/bed.png " style="width:50px" ></span>
                <span class = "property"> {{info.propertyType}}</span>
              </mat-card-content>
            </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>


