<select
  [(ngModel)]="districtId">
  <option value="{{place.disID}}" *ngFor="let place of uniToDis">{{place.Uni}}</option>
</select>

<button (click)="search()">
  Search
</button>

<pre>
  {{listings | async | json}}
</pre>

<!-- <select
  [(ngModel)]="region">
  <option *ngFor="let place of localities | async" [ngValue]="place">{{place.Name}}</option>
</select> -->

<!-- <select
  *ngIf="region"
  [(ngModel)]="district">
  <option *ngFor="let place of region.Districts" [ngValue]="place">{{place.Name}}</option>
</select>

<select
  *ngIf="district"
  [(ngModel)]="suburb">
  <option *ngFor="let place of district.Suburbs" [ngValue]="place">{{place.Name}}</option>
</select> -->