@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Oswald", sans-serif;');
@include mat-core($custom-typography);

$custom-primary: mat-palette($mat-blue);
$custom-accent: mat-palette($mat-amber);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

/* You can add global styles to this file, and also import other style files */
html.searchpage {
    background-color: #E9b000;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h5 {
    color: white;
    text-align: center;
    font-family: 'Arial-Regular';
}

.header {
    margin-top: 10vh;
}

.bottomText {
    margin: 10vh;
}

.toolbar {
    background-color: transparent;
}

.headerToolbar {
    background-color: #4e4e4e;
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
    left: 5px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.search { 
    width: 100%;
    text-align: center;
    .button { 
        background-color: transparent;
        color: #e24e42 !important;
        border: solid 2px #e24e42 !important;
        border-radius: 12px !important;
    }
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.dropdown {
    width: 300px;
    margin-right: 16px;
    border: white;

    .mat-select-trigger {
        padding-left: 10px !important;
    }

    .mat-form-field-label {
        padding-left: 10px;
        color: white;
    }

    .mat-select-value {
        color: white;
    }
}


.dropdown .mat-form-field-infix, .rentInput {
    border : solid 1px white;
}

.rentInput {
    background-color: white !important;
    padding: 8px 8px !important;
    margin-bottom: -5px !important;

    + span .mat-form-field-label {
        top: 28px !important;
        left: 10px !important;
    }
}


